* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
header h1,
section h2,
section h3,
form button {
    font-family: "Sigmar", sans-serif;
}

body,
input,
textarea {
    font-family: "Roboto Slab", serif
}

header {
    padding: 16px 0;
    background-color: #1B8070;
    color: #FFF9EB;
}   

header nav li {
    display: inline;
    margin-left: 14px;
    font-size: 25px ;
}

header nav li a {
    color: #FFF9EB;
    text-decoration: none;
}

header img {
    height: 100px;
}


.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a:hover {
    text-decoration: underline;
}

section .rokes {
    margin-left: 50px;
    margin-top:125px;
    align-items: center;
    justify-content: space-between;
}


section .rokes h1 {
    font-weight: normal;
}

.brand-list img {
    height: 61px;
}

.brand-list li {
    display: inline;
    margin-right: 12px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
    color: #1B8070;
}

section h2 {
    margin-bottom: 16px;
    color: #1B8070;
}

section p {
    margin-bottom: 8px;
}

.imagens {
    margin-top: 50px;
    display: flex;
    gap: 10px; 
}

.foto1 {
    height: 500px;
}

.coluna-direita {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.foto2,
.foto3 {
    height: 245px;
}

.video {
    height: 600px;
}

.mp4 {
    margin-top: 100px;
    
}

.vejavoce h1{
    margin-left: 40px;
    font-size:  100px;

}

section .mp4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.follow img {
    height: 30px;
}

.wpp img {
    height: 35px;
}

form input,
textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

section .contact-methods {
    background-color: #E9ECEF;
    padding: 50px 0;
    text-align: center;
}

.contact-methods {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

.form {
    margin-top: 10px;
}

.follow,
.wpp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input:focus {
    outline-color: #1B8070;
}

form button {
    background-color:#1B8070;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color:#0b312b;
}

footer {
    background-color: #1B8070;
    color: #ecf0f1;
    padding: 16px 0;
    text-align: center;
}